html { 
   height: 100% 
}

.side-drawer { 
   height: 100%;
   width: 20%;
   background: #1e761f;/* #056006 */
   position: absolute;
   bottom: 0;
   top: 0;
   right: 0;
   z-index: 200;
   box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
   transform: translateX(100%);
   transition: transform 0.3s ease-out;
      
   
   color: #fff;
   overflow:auto;   
}
.side-drawer.open {
   transform: translateX(0);
}

.sidebarCloseBtn{
   position: absolute;
   background-image: url("closeBtn.png");
   background-color: #056006;
   background-size: cover;
   border-radius: 50%;
   border: none;   
   height:30px;
   width:30px;   
   top: 5px;
   right: 5px;   
   cursor: pointer;
}
.sidebarCloseBtn:hover{
   background-color: #044e05;
}

.title {
   background-color: #044e05;
   width: 100%;
   font-size: 20px;
   font-weight: 800;
   text-align: center;
   padding: 35px 0px 10px 0px;
}

.description {
   text-indent: 20px;
   padding: 10px; 
}

.TextToSpeech {
   position: fixed;
   width: 100%;
   bottom: -0.5%;
   left: 0;
   background-color: #044e05;   
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 12.5px 0px 12.5px 0px;
/*    margin-top: 15px; */
   margin-bottom: 5px;
}

.ttsPlayPauseBtn-Playing  {
   background-image: url("pauseBtn.png");
   background-color: #044e05;
   background-size: cover;   
   border: none;   
   height:50px;
   width:50px;
   margin-right: 5px;
   cursor: pointer;
}
.ttsPlayPauseBtn-Playing :hover {
   background-color: #021d02;
}
.ttsPlayPauseBtn-Paused  {
   background-image:url("playBtn.png");
   background-color: #044e05;
   background-size: cover;
   border-radius: 25px;
   width: 50px;
   height: 50px;
   border: none;
   margin-right: 5px;
   cursor: pointer;
}
.ttsPlayPauseBtn-Paused :hover {
   background-color: #fff;
}

.ttsStopBtn {
   background-image:url("stopBtn.png");
   background-color: #044e05;
   background-size: cover;
   cursor: pointer;
   width: 30px;
   height: 30px;
   border: none;
}
